.App {
  padding: 15px;
}

.item {
  background-color: gray;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
  color: white;
  padding: 10px;
}

.item:hover {
  background-color: black;
  cursor: pointer;
}